<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div style="padding: 0 50px;">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12 col-md-7 col-sm-6">
                <h2>Постаматы</h2>
                <hr/>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-8">
                <div id="map"></div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <a id="export-file" class="btn-success btn-sm" role="button" href="/api/postamats/export">Экспорт в файл</a>
                    <br/>
                </div>
                <div class="row">
                    <h5>Установленные постаматы</h5>
                    <hr/>
                </div>
                <div class="row">
                    <table id="installed-postamats" class="table table-striped" style="font-size: 12px; ">
                        <tr th:each="item, iterator : ${postamats}">
                            <th scope="row" th:text="@{${iterator.index} + 1}"></th>
                            <td>
                                <span th:text="|${item.place} (${item.address})|"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <hr/>
    </div>

</div>

</div>
<!-- /.container -->


<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>
<script src="/static/default/js/postamat.js"></script>

</body>

</html>