<div th:fragment="top_nav" class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container" style="height: 70px;">
        <img src="/static/default/images/h-logo.svg" width="300"/>
<!--        <a href="/" class="navbar-brand">MCH 2022 Hackaton</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/cabinet/">ADMIN CABINET</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/personal/">Профиль</a>-->
<!--                </li>-->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout/">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</div>
