<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12 col-md-7 col-sm-6">
                <h2>Статистика и данные для анализа</h2>
                <hr/>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <div class="row">
                    <h5>Установленные постаматы</h5>
                    <hr/>
                </div>
                <div class="row">
                    <table id="installed-postamats" class="table table-striped" style="font-size: 12px; ">
                        <tr th:each="item, iterator : ${postamats}">
                            <th scope="row" th:text="@{${iterator.index} + 1}"></th>
                            <td>
                                <span th:text="|${item.place} (${item.address})|"></span>
                            </td>
                            <td>
                                <button class="btn btn-outline-primary btn-sm"
                                        th:attr="onclick=|getStat('${item.id}')|">Статистика
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-sm-1"></div>

            <div class="col-sm-7">
                <div class="row">
                    <h5>Статистика постамата</h5>
                    <hr/>
                </div>
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>

        </div>
        <!-- /.row -->


        <div class="row">
            <hr/>
        </div>

    </div>

</div>
<!-- /.container -->


<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, null);

    //Получение статистики использования постамата
    function getStat(postamatId) {
        jQuery.ajax({
            url: "/api/analytics/postamat/using",
            type: "GET",
            data: {
                id: postamatId
            },
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                chart.destroy();

                var arr = response.postamatUsing;
                console.log(arr);
                var labels = arr.map(function (item) {
                    var labelStr = item.month + "." + item.year;
                    if (item.month < 10) labelStr = "0" + labelStr;
                    return labelStr;
                });
                var data = arr.map(function (item) {
                    return item.useCount;
                });

                var config = {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Использование постамата по месяцам',
                            data: data,
                            backgroundColor: 'rgba(0, 119, 204, 0.3)'
                        }]
                    }
                };

                chart = new Chart(ctx, config);
            }
        });
    }

    // const ctx = document.getElementById('myChart').getContext('2d');
    // const myChart = new Chart(ctx, {
    //     type: 'bar',
    //     data: {
    //         labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    //         datasets: [{
    //             label: '# of Votes',
    //             data: [12, 19, 3, 5, 2, 3],
    //             backgroundColor: [
    //                 'rgba(255, 99, 132, 0.2)',
    //                 'rgba(54, 162, 235, 0.2)',
    //                 'rgba(255, 206, 86, 0.2)',
    //                 'rgba(75, 192, 192, 0.2)',
    //                 'rgba(153, 102, 255, 0.2)',
    //                 'rgba(255, 159, 64, 0.2)'
    //             ],
    //             borderColor: [
    //                 'rgba(255, 99, 132, 1)',
    //                 'rgba(54, 162, 235, 1)',
    //                 'rgba(255, 206, 86, 1)',
    //                 'rgba(75, 192, 192, 1)',
    //                 'rgba(153, 102, 255, 1)',
    //                 'rgba(255, 159, 64, 1)'
    //             ],
    //             borderWidth: 1
    //         }]
    //     },
    //     options: {
    //         scales: {
    //             y: {
    //                 beginAtZero: true
    //             }
    //         }
    //     }
    // });
</script>

</body>

</html>