<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12 col-md-7 col-sm-6">
                <h2>Карта</h2>
                <hr/>
            </div>
        </div>

        <div class="row">
            <form method="post" action="/">
                <div class="form-group">
                    <label for="inputPostamatCount" class="col-sm-10 col-form-label">Число постаматов</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPostamatCount" value="10000">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSquarePerPeople" class="col-sm-10 col-form-label">Площадь на 1 человека (м2)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputSquarePerPeople" value="25">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRadius" class="col-sm-10 col-form-label">Радиус зоны анализа плотности населения (км)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputRadius" value="3">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Построить</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div id="map"></div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <h5>Варианты размещения постамата</h5>
                    <hr />
                </div>
                <div class="row">
                    <table id="nearest-malls" class="table table-striped" style="font-size: 12px; ">
                        <tr>
                            <td>Выберите точку на карте</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->


<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>

</body>

</html>