<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12 col-md-7 col-sm-6">
                <h2>Экспертный режим</h2>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div id="map"></div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <h5>Построить сегменты</h5>
                    <hr/>
                </div>
                <div class="container" style="margin: 0 0 0 -15px;">
                    <div class="form-check" style="margin: 0 0 5px -15px;">
                        <input class="form-check-input" type="checkbox" id="hexMap" onchange="showHexMap();">
                        <label class="form-check-label" style="font-size: 12px;" for="hexMap">Отобразить сетку</label>
                        </hr>
                    </div>

                    <div class="form-group row">
                        <label for="radius-input" class="col-sm-2 col-form-label-sm"
                               style="margin: 0 0 0 -15px;">Радиус</label>
                        <div class="col-sm-10">
                            <input type="text" id="radius-input" value="400" class="form-control form-control-sm"
                                   placeholder="col-form-label-sm">
                        </div>
                    </div>

                    <div class="form-group row">
                        <select id="heatmap-select" class="form-control form-control-sm">
                            <option selected="selected"> - Тепловая карта -</option>
                            <option th:each="item: ${heatMaps}" th:value="${item.id}" th:text="${item.params}"></option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <button class="btn-primary btn-sm" onclick="calcMap();">Построить сегменты</button>
                    </div>
                </div>

                <div class="row">
                    <h5>Варианты размещения постамата</h5>
                    <hr/>
                </div>
                <div class="row">
                    <table id="nearest-objects" class="table table-striped" style="font-size: 12px; ">
                        <tr>
                            <td>Выберите точку на карте</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->


<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>

<!-- ol-ext -->
<link rel="stylesheet" href="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.css"/>
<script type="text/javascript" src="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.js"></script>
<script type="text/javascript" src="/static/default/js/ol-ext/ol-games.js"></script>

<script src="/static/default/js/expert.js"></script>
<script src="/static/default/js/job_map.js"></script>


</body>

</html>