<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12 col-md-7 col-sm-6">
                <h2>Тепловая карта <span th:text="${jobId}" id="job_id"></span></h2>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div id="map"></div>
        </div>

    </div>

</div>
<!-- /.container -->


<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>
<script src="/static/default/js/job_map.js"></script>

</body>

</html>